
body {
    background: linear-gradient(to left, rgba(7,27,82,1)0%, rgba(0,128,128,1)100%);
    font-family: 'Bungee Inline', cursive;
}
h1 {
     font-size: 60px;
     background: linear-gradient(to right, #9eebcf 30%, lightseagreen 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 h2 {
    background: linear-gradient(to right, #9eebcf 30%, lightseagreen 80%);
    margin: 10px 0;
    color: rgba(7,27,82);
    width: 100%;
    height: 50px;
    position: relative;
    overflow: hidden;
    z-index: 2;
 }
 input, select {
     width: 45px;
     background: whitesmoke;
     border: 4px inset lightgray;
     border-radius: 5px;
     color: rgba(7,27,82);
     margin: 0 5px;
 }
 button {
     border-radius: 5px;
     border: 4px inset lightgray;
     cursor: pointer;
     background: whitesmoke;
     color: rgba(7,27,82);
 }
 ul {
     list-style-type: none;
     text-align: left;
     overflow: hidden;
 }
 li {
     display: inline;
 }
 .matches {
     width: 70vw;
     text-align: left;
     padding-left: 10px;
 }
 .options-button {
    width: 27vw;
    padding-left: 2px;
 }
 .options-menu {
    width: 75vw;
    margin-left: 10px;
    font-size: 16px;
 }
 .container {
     width: 200vw;
     height: 50px;
     font-size: 22px;
     line-height: 50px;
 }
 .mobile-options-menu {
     font-size: 12px;
     z-index: 1;
     background: linear-gradient(to right, #9eebcf 30%, lightseagreen 80%);
     margin-top: -50px;
     margin-bottom: 35px;
     color: rgba(7,27,82);
     width: 100%;
     height: 40px;
     overflow: hidden;
     line-height: 40px;
 }
 @keyframes slideOut {
     0% {
        margin-left: 0;
     }
     100% {
        transform: translateX(-75vw);
     }
 }
 .slideOut {
     animation: 1.2s ease-in-out 0s 1 slideOut forwards;
 } 
 @keyframes slideIn {
    0% {
        transform: translateX(-75vw);
    }
    100% {
        transform: translateX(0vw);
    }
}
.slideIn {
    animation: 1.2s ease-in-out 0s 1 slideIn forwards;
}
 @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        border: 3px solid black;
    }
}
.slideDown {
    animation: 1s ease-in-out 0s 1 slideDown forwards;
}
@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
    }
}
.slideUp {
    animation: 1s ease-in-out 0s 1 slideUp forwards;
}
@keyframes slideUp {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}
.border {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    animation: 1s ease-in 0s 1 rotate forwards;
}
.scene {
  width: 125px;
  height: 125px;
  margin: 10px;
  display: inline-block;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}
.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}
.card__face--front {
    background-color: #9eebcf;
}
.card__face--back {
    background-color: #9eebcf;
    transform: rotateY(180deg);
}
.card-text {
    margin: 0 auto;
    font-size: 12px;
    color: rgba(0,128,128,1);
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    .scene {
        width: 75px;
        height: 75px;
        margin: 5px;
    }
    .card-text {
        font-size: 10px;
    }
    h2 {
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }
    input, select {
        border: 2px inset lightgray;
        border-radius: 5px;
        margin: 0 3px;
    }
    button {
        border: 2px inset lightgray;
        height: 25px;
    }
  }
  @media screen and (min-width: 1020px) {
      input, select {
          width: 65px;
      }
  }
