.modal-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.85);
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}

.modal {
    width: 70vw;
    height: auto;
    background: linear-gradient(to right, #9eebcf 30%, lightseagreen 80%);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 3;
}

.modal-title {
    font-size: 30px;
    padding: 10px 0;
    color: lightseagreen;
    margin-bottom: 20px;
    background: linear-gradient(to left, rgba(7,27,82,1)0%, rgba(0,128,128,1)100%);
}
.exit-button {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.modal-body p {
    font-size: 22px;
    padding: 10px;
    color: rgba(7,27,82);
}
@media screen and (max-width: 600px) {
    .modal {
        width: 80vw;
        height: auto;
    }
    .modal-title {
        font-size: 20px;
        padding: 10px 0;
    }
    .modal-body p {
        font-size: 12px;
        padding: 5px;
    }
    .exit-button {
        font-size: 16px;
    }
}
